//bacgrounds
$black: #000000;
$white: #ffffff;
$white03: #ffffff30;

$main-color: #68b738;
$hover-btn: #5eaa2f;

//fonts
$basic-family: "Roboto", "Arial", "Helvetica", sans-serif;

$tablet-width: 1220px;
$mobile-width: 710px;
