.nav {
  // .nav__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .nav__item

  &__item {
    margin-right: 32px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  // .nav__link

  &__link {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    &--active {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $white;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .nav {
    // .nav__link

    &__link {
      font-size: 18px;
      line-height: 24px;
      color: $black;

      &--active::after {
        background-color: $main-color;
      }
    }
  }
}
@media (max-width: $mobile-width) {
  .nav {
    // .nav__list

    &__list {
      flex-direction: column;
    }

    // .nav__item

    &__item {
      margin-right: 0px;
      width: 100%;
      text-align: center;
      border-top: 1px solid #e6e6e6;
      padding: 22px 0 24px;
    }

    // .nav__link

    &__link {
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      &--active {
        &::after {
          bottom: -1px;
        }
      }
    }
  }
}
